@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker-standalone.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker-standalone.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
    <script src="https://rawgit.com/moment/moment/2.2.1/min/moment.min.js"></script>
    <script src="~/scripts/JavaScript.js"></script>


    <style type="text/css">
        #tableh1 {
            text-align: center;
            text-decoration: underline;
        }
    </style>

</head>

<body>

    <div>
        <div class="row">
            <div class="col-md-4, jumbotron" style="padding-left:40% !important">
                <p>jQuery CRUD Operation</p>
            </div>
        </div>

        <br />

        <div id="form">
            <div class="container" id="Test">
                <div class="col-md-1">
                    <p></p>
                </div>
                <div>
                    <p><input type="hidden" placeholder="" id="ID" value=""></p>
                </div>
            </div>
            <br />
            <div class="container" id="Test">
                <div class="col-md-1">
                    <p>Roll:</p>
                </div>
                <div>
                    <p><input type="number" placeholder="" id="RollNo" value="" /></p>
                </div>
            </div>
            <br />
            <div class="container">
                <div class="col-md-1">
                    <p>Name:</p>
                </div>
                <div>
                    <p><input type="text" placeholder="" id="Name" value="" /></p>
                </div>
            </div>

            <br />
            <div class="container">
                <div class="col-md-1">
                    <p>Phone:</p>
                </div>
                <div>
                    <p><input type="text" placeholder="" id="Phone" value="" /></p>
                </div>
            </div>

            <br />
            <div class="container">
                <div class="col-md-1">
                    <p>BirthDate:</p>
                </div>
                <div>
                    <input type="date" id="Test_DatetimeLocal" autocomplete="off">
                </div>
            </div>

            <br />
            <div class="container">
                <div class="col-md-1">
                    <p>Subject:</p>
                </div>
                <div>
                    <p><input type="text" placeholder="" id="Subject" value="" /></p>
                </div>
            </div>
        </div>
        <br />

        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
                <div class="col-md-3">
                    <button id="save" type="button" class="btn btn-success" value="Save">Save</button>
                    <button id="list" type="button" class="btn btn-info" value="List">List</button>
                </div>
            </div>
        </div>
        <br />

        <div id="listContainer" style="display: none;">
            <h1 id="tableh1"><i>Student List</i></h1>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr class="success">
                            <th>ID</th>
                            <th>Roll</th>
                            <th>Name</th>
                            <th>Phone</th>
                            <th>BirthDate</th>
                            <th>Subject</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody id="studentList">
                      
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</body>
</html>
